.catalog-page {
  background-image: url(../img/catalogPage/catalogBg.svg);
}
.catalog-menu {
  display: flex;
  flex-direction: column;
  // position: relative;
  margin: 100px;
  .tabs-nav {
    margin-bottom: 50px;
    .tabs-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      gap: 23px;
      .tabs-list_link {
        border-radius: 5px;
        background: rgb(134, 153, 195);
        padding: 15px 22px 15px 22px;
        text-decoration: none;
        @include fontDesigner(rgb(255, 255, 255), 'Arial', 20px, 400, 30px, 0);
        // .tabs-list_item {

        // }
      }
      .tabs-list_link__active {
        background-color: rgb(41, 69, 100);
      }
    }
  }
  .all-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    .wrapper-card-product {
      display: none;
      flex-direction: column;
      .card-product {
        // width: 50%;
        width: 300px;
        height: 300px;
        margin: 0;
        padding: 50px;
        background-image: url(../img/catalogPage/catalog-menu/cardBorder.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          // width: 100%;
          height: 100%;
        }
      }
      .card-product_title {
        @include fontDesigner(rgb(0, 0, 0), 'Oswald', 24px, 400, 40px, 0);
      }
      .card-product_price {
        @include fontDesigner(rgb(0, 0, 0), 'Oswald', 20px, 200, 36px, 0);
        margin: 0;
      }
    }
    .wrapper-card-product__active {
      display: flex;
    }
  }
  .combination-with-chairs {
    margin: 100px 0 63px 0;
    .combination-with-chairs_img {
      width: 100%;
    }
    .combination-with-chairs_title {
      @include fontDesigner(rgb(53, 53, 53), 'Arial', 20px, 600, 36px, 0);
    }
  }
  .catalog-menu_btn {
    @include btn(310px, 60px, 10px, rgb(41, 69, 100), rgb(255, 255, 255), 24px);
    align-self: flex-end;
  }
}
.mod-card-product {
  background-color: rgba(255, 255, 255, 0.504);
  border: 1px solid red;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 5px;
  .wrapper-mod-card-product {
    // position: absolute;
    // margin: auto;
    // left: 50%;
    // top: 50%;
    background-color: #fff;
    width: 80%;
    height: 80%;
    overflow: auto;

    .slide-prev {
      .slide-prev-btn {
        z-index: 2;
        border: none;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
        width: 50px;
        height: 50px;
        padding: 0;
        position: fixed;
      }
      .inner-slide-prev {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-repeat: no-repeat;
        background-size: contain;
        gap: 40px;
        position: relative;
        .advantages-list {
          position: relative;
          z-index: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 50px;
          list-style-type: none;
          padding: 0;
          margin: 0;
          height: max-content;
          @include fontDesigner(rgb(0, 0, 0), 'Arial', 20px, 400, 30px, 0);
          .advantages-item {
            display: flex;
            align-items: center;
            gap: 13px;
            text-align: end;
            position: relative;
            .advantages-item_text {
              width: 268px;
              margin: 0;
            }
            .advantages-item_sqr {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: rgb(255, 241, 177);
            }

            &:first-child {
              margin-top: 85px;
            }
          }
          &::after {
            content: '';
            height: 92%;
            width: 2px;
            position: absolute;
            background-color: black;
            z-index: -1;
            right: 9px;
          }
        }
        .product-desc {
          padding-top: 50px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 80px;
          .product-img {
            display: flex;
            gap: 50px;
            margin: 0;
            img {
              width: 200px;
              height: 200px;
            }
          }
          .desc-list {
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .desc-item {
              display: flex;
              justify-content: flex-end;
              gap: 15px;
              @include fontDesigner(
                rgb(53, 53, 53),
                'Arial',
                20px,
                100,
                25px,
                0
              );
              .desc-item_text {
                width: 70px;
                text-align: end;
                font-weight: 100;
              }
              &.desc-item-cart {
                cursor: pointer;
              }
            }
            .desc-item__title {
              @include fontDesigner(
                rgb(53, 53, 53),
                'Oswald',
                50px,
                300,
                50px,
                0
              );
            }
            .desc-item__color {
              display: flex;
              align-items: center;
              gap: 15px;
              .desc-item_color {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 0.5px solid rgb(53, 53, 53);
              }
              .desc-item_color_black {
                background: rgb(0, 0, 0);
              }
              .desc-item_color_brown {
                background-color: rgb(168, 134, 87);
              }
              .desc-item_color_brown-white {
                background: linear-gradient(
                  90deg,
                  rgb(168, 134, 87) 50%,
                  rgb(255, 255, 255) 50%
                );
              }
              .desc-item_color_brown-black {
                background: linear-gradient(
                  90deg,
                  rgb(168, 134, 87) 50%,
                  rgb(0, 0, 0) 50%
                );
              }
              .desc-item_color__active {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
    .slide-characteristic {
      .inner-slide-characteristic {
        display: flex;
        flex-direction: column;
        gap: 20px 50px;

        .slide-characteristic_title {
          margin: 0;
          @include fontDesigner(rgb(41, 69, 100), 'Oswald', 50px, 400, 50px, 0);
        }
        .wrapper-characteristic {
          display: flex;
          gap: 30px;
          .wrapper-characteristic-column {
            width: 48%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .characteristic {
              display: flex;
              flex-direction: column;

              height: max-content;
              border-radius: 10px;
              background: rgb(255, 239, 166);
              padding: 20px;
              .characteristic_title {
                margin: 0;
                @include fontDesigner(
                  rgb(0, 0, 0),
                  'Oswald',
                  36px,
                  400,
                  36px,
                  5px
                );
              }
              .characteristic_list {
                gap: 5px;
                display: flex;
                flex-direction: column;
                list-style-type: none;
                padding: 0;
                .characteristic_item {
                  display: flex;
                  justify-content: space-between;
                  .characteristic_text {
                    @include fontDesigner(
                      rgb(0, 0, 0),
                      'Arial',
                      18px,
                      400,
                      18px,
                      0
                    );
                  }
                  .characteristic_text__accent {
                    font-weight: 700;
                  }
                }
                .characteristic_item__column {
                  flex-direction: column;
                }
              }
            }
          }
        }
      }
    }
    .slide-size {
      display: flex;
      align-items: center;
      justify-content: center;
      video {
        width: 500px;
        height: 500px;
      }
      .chair-size {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 500px;
        .chair-size-img {
          width: 470px;
        }
        .chair-size_title {
          @include fontDesigner(
            rgb(41, 69, 100),
            'Oswald',
            50px,
            400,
            50px,
            3px
          );
        }
      }
    }
    .slide-infa {
      .inner-infa {
        position: relative;

        background-image: url(../img/catalogPage/cardProduct/bg-slide.png);
        background-size: contain;
        height: 100%;
        .infa-title {
          display: none;
        }
        .list-infa {
          position: relative;
          z-index: 1;

          display: flex;
          flex-direction: column;
          gap: 50px;
          list-style-type: none;
          padding: 0;
          margin: 0;
          margin-left: 100px;
          .item-infa {
            display: flex;
            align-items: center;
            gap: 13px;

            .item-infa_sqr {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: rgb(255, 241, 177);
            }
            .item-infa_title {
              display: flex;
              flex-direction: column;
              margin: 0;
              @include fontDesigner(
                rgb(41, 69, 100),
                'Oswald',
                30px,
                400,
                30px,
                0
              );
              .item-infa_text {
                margin: 0;
                @include fontDesigner(
                  rgb(0, 0, 0),
                  'Arial',
                  20px,
                  400,
                  30px,
                  0
                );
              }
            }
            &:first-child {
              margin-top: 85px;
            }
          }
          &::after {
            content: '';
            height: 77%;
            width: 2px;
            position: absolute;
            background-color: black;
            z-index: -1;
            left: 9px;
            top: 80px;
          }
        }
      }
    }
  }
}
.mod-card-product__active {
  display: flex;
}

.links-shops {
  .wrapper-links-shops {
    display: flex;
    // flex-direction: column;

    flex-wrap: wrap;
    align-items: center;
    gap: 22px 51px;
    width: max-content;
    margin: 50px auto;
    .links-shops_link {
      display: flex;
      text-decoration: none;
      img {
        height: 150px;
      }
    }
  }
}
@media (max-width: 1100px) {
  .mod-card-product {
    .wrapper-mod-card-product {
      padding: 21px;
      box-sizing: content-box;
      max-width: 480px;
      .slide-prev {
        .inner-slide-prev {
          background-color: #fff;
          display: flex;
          .product-desc {
            width: 100%;
            gap: 0;
            align-items: flex-start;
            background-color: #fff;
            .product-img {
              width: 100%;
              justify-content: center;
            }
            .desc-list {
              .desc-item {
                flex-direction: row-reverse;
                .desc-item_text {
                  text-align: left;
                }
                .desc-item_price {
                  font-weight: 600;
                }
              }
              .desc-item-cart {
                position: absolute;
                bottom: 13px;
                /* left: 0; */
                right: 22px;
              }
              .desc-item__color {
                flex-direction: row-reverse;
              }
            }
          }
          .advantages-list {
            display: none;
          }
        }
      }
      .slide-characteristic {
        .inner-slide-characteristic {
          .wrapper-characteristic {
            gap: 0;
            flex-direction: column;
            .wrapper-characteristic-column {
              border-radius: 10px;
              gap: 0;
              width: 100%;
              background: rgb(255, 239, 166);
              &:last-child {
                border-top: none;
              }
            }
          }
        }
      }
      .slide-size {
        .chair-size {
          justify-content: center;
          .chair-size_title {
            display: none;
          }
        }
      }
      .slide-infa {
        .inner-infa {
          height: auto;
          background-image: none;

          .list-infa {
            gap: 15px;
            padding: 20px;
            border-radius: 15px;
            background-color: #ffefa6;
            margin: 0;
            gap: 10px;
            .item-infa {
              gap: 0;
              .infa-title {
                margin-bottom: 22px;
                @include fontDesigner(
                  rgb(0, 0, 0),
                  'Oswald',
                  36px,
                  400,
                  36px,
                  5px
                );
                display: block;
              }
              .item-infa_title {
                display: flex;
                flex-direction: row;
                align-content: center;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                @include fontDesigner(
                  rgb(0, 0, 0),
                  'Arial',
                  18px,
                  400,
                  18px,
                  0
                );
                .item-infa_text {
                  font-weight: 600;
                  font-size: 18px;
                }
              }
              .item-infa_sqr {
                display: none;
              }
              &:first-child {
                margin: 0;
              }
            }
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .catalog-page {
    gap: 55px;
  }
  .catalog-menu {
    margin: 50px;
    .all-catalog {
      gap: 50px;
      justify-content: center;
    }
  }
}
@media (max-width: 800px) {
  .catalog-menu {
    margin: 30px;
    .catalog-menu_btn {
      width: 250px;
      height: 60px;
      font-size: 22px;
    }
  }
  .links-shops {
    .wrapper-links-shops {
      gap: 15px 30px;
      .links-shops_link {
        img {
          height: 100px;
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .catalog-menu {
    .all-catalog {
      .wrapper-card-product {
        .card-product {
          width: 200px;
          height: 180px;
          padding: 25px;
        }
      }
    }
    .tabs-nav {
      .tabs-list {
        .tabs-list_link {
          font-size: 16px;
          padding: 10px 15px 10px 15px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  body {
    min-width: 420px;
  }
  .mod-card-product {
    .wrapper-mod-card-product {
      .slide-prev {
        .inner-slide-prev {
          .product-desc {
            .product-img {
              gap: 0;
              img {
                width: 160px;
                height: 160px;
              }
            }
          }
        }
      }
      .slide-size {
        .chair-size {
          .chair-size-img {
            width: 100%;
          }
        }
      }
      .slide-infa {
        .inner-infa {
          .list-infa {
            .item-infa {
              .item-infa_title {
                flex-direction: column;
                align-items: flex-start;
              }
            }
          }
        }
      }
    }
  }
  .catalog-menu {
    .all-catalog {
      gap: 50px 30px;
    }
    .combination-with-chairs {
      margin: 50px 0 30px 0;
    }
    .catalog-menu_btn {
      width: 220px;
      height: 50px;
    }
    .tabs-nav {
      .tabs-list {
        .tabs-list_link {
          font-size: 14px;
          padding: 10px 10px 10px 10px;
        }
      }
    }
  }
  .links-shops {
    .wrapper-links-shops {
      gap: 20px;
      .links-shops_link {
        img {
          height: 80px;
        }
      }
    }
  }
}
