.faq-page {
  background-image: url(../img/fqaPage/fqaBg.svg);
}

.faq {
  .wrapper-faq {
    padding: 100px 100px 0 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    .inner-faq {
      .faq-list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 20px;
        .faq-list_question {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border-radius: 20px;
          background: rgb(134, 153, 195);
          background-image: url(../img/fqaPage/frame.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 90%;
          padding: 50px;
          width: 626px;
          height: 328px;

          @include fontDesigner(
            rgb(255, 255, 255),
            'Arial',
            24px,
            400,
            40px,
            0
          );
        }
        .faq-list_answer {
          padding: 50px;
          border-radius: 20px;
          background: rgb(41, 69, 100);
          width: 950px;
          text-indent: 30px;
          @include fontDesigner(
            rgb(255, 255, 255),
            'Arial',
            20px,
            400,
            25px,
            0
          );
          .faq-list_answer__accent {
            font-weight: 700;
            font-style: italic;
          }
        }
      }
    }
    .wrapper-link-email {
      padding: 69px;
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fqaPage/frame_black.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      align-self: flex-end;
      .link-email {
        text-decoration: none;

        @include fontDesigner(rgb(41, 69, 100), 'Arial', 20px, 400, 25px, 2px);
        .link-email_accent {
          font-weight: 700;
        }
      }
    }
  }
}
.customer-reviews-faq {
  padding: 10px;
  .swiper {
    padding: 50px;
    .my-swiper-wrapper {
      // gap: 24px;
      // width: 85%;

      overflow: hidden;
      .swiper-slide {
        width: 300px;
        // height: 300px;
        padding: 24px;
        border-radius: 5px;
        background: rgb(255, 239, 166);
        .title {
          width: 97px;
          height: 97px;
          border-radius: 50%;
          margin: auto;
          background-color: rgb(41, 69, 100, 0.5);
        }
        .subtitle {
          margin: 0;
          @include fontDesigner(
            rgb(41, 69, 100),
            'Oswald',
            45px,
            400,
            55px,
            2px
          );
        }
        .text {
          @include fontDesigner(rgb(53, 53, 53), 'Arial', 16px, 400, 40px, 0);
          // display: inline;
          text-align: justify;
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: rgb(134, 153, 195);
    }
  }
  .feedback {
    display: flex;
    flex-direction: column;
    .feedback-btn {
      cursor: pointer;
      margin-right: 100px;
      align-self: flex-end;
      color: rgb(255, 255, 255);
      border-radius: 10px;
      background: rgb(41, 69, 100);
      border: none;
      width: 310px;
      height: 60px;
      @include fontDesigner(rgb(255, 255, 255), 'Arial', 24px, 400, 40px, 0);
    }
    .modal-feedback {
      display: none;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: rgb(255, 255, 255, 0.2);

      .feedback-form {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 30px 24px;
        width: 450px;
        position: relative;
        border-radius: 10px;
        background: rgb(134, 153, 195);
        gap: 24px;
        .feedback-form_close {
          position: absolute;
          padding: 0;
          border: none;
          background: transparent;
          right: 24px;
        }
        .feedback-title {
          @include fontDesigner(
            rgb(255, 255, 255),
            'Oswald',
            24px,
            400,
            40px,
            0
          );
          text-align: center;
          margin: 0;
        }
        .feedback-input {
          @include fontDesigner(
            rgb(255, 255, 255),
            'Arial',
            20px,
            400,
            40px,
            0
          );
          display: flex;
          flex-direction: column;
          input {
            @include fontDesigner(
              rgb(255, 255, 255),
              'Arial',
              16px,
              400,
              40px,
              0
            );
            height: 41px;
            border: 1px solid rgb(255, 255, 255);
            background-color: rgb(134, 153, 195);
            &::placeholder {
              color: rgb(217, 217, 217);
            }
          }
          textarea {
            width: 404px;
            height: 173px;
            border: 1px solid rgb(255, 255, 255);
            background-color: rgb(134, 153, 195);
            @include fontDesigner(
              rgb(255, 255, 255),
              'Arial',
              16px,
              400,
              40px,
              0
            );
          }
        }
        .feedback-submit {
          @include fontDesigner(rgb(53, 53, 53), 'Oswald', 24px, 400, 40px, 0);
          border-radius: 3px;
          background: rgb(255, 239, 166);
          width: 140px;
          height: 42px;
          border: none;
          margin: auto;
        }
      }
    }
    .modal-feedback__active {
      display: flex;
    }
    .message-feedback {
      position: absolute;
      left: 35%;
      display: none;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: 10px;
      width: 350px;
      height: 100px;
      padding: 10px;
      background-color: #8699c3;
      @include fontDesigner(rgb(255, 255, 255), 'Arial', 16px, 400, 20px, 0);
    }
    .message-feedback__active {
      display: flex;
    }
  }
}
@media (max-width: 1200px) {
  .faq {
    .wrapper-faq {
      padding: 50px 50px 0 50px;
    }
  }
}
@media (max-width: 1000px) {
  .faq {
    .wrapper-faq {
      .inner-faq {
        .faq-list {
          .faq-list_question {
            font-size: 20px;
            line-height: 20px;
          }
          .faq-list_answer {
            font-style: 16px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .faq {
    .wrapper-faq {
      .inner-faq {
        .faq-list {
          flex-direction: column;
          .faq-list_question {
            height: auto;
            background-image: none;
            width: 100%;
          }
          .faq-list_answer {
            width: 100%;
            padding: 25px;
          }
        }
      }
      .wrapper-link-email {
        padding: 45px;
      }
    }
  }
  .customer-reviews-faq {
    .swiper {
      padding: 30px;
      .my-swiper-wrapper {
        .swiper-slide {
          .subtitle {
            font-size: 30px;
            line-height: 30px;
          }
          .title {
            width: 70px;
            height: 70px;
          }
          .text {
            line-height: 20px;
          }
        }
      }
    }
    .feedback {
      .feedback-btn {
        width: 270px;
        height: 50px;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 600px) {
  .faq {
    .wrapper-faq {
      padding: 30px 30px 0 30px;
      .inner-faq {
        .faq-list {
          .faq-list_question {
            background-image: url(../img/fqaPage/frameMin.svg);
            background-size: auto;
            height: 150px;
          }
          .faq-list_answer {
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
      .wrapper-link-email {
        .link-email {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}
@media (max-width: 470px) {
  .faq {
    .wrapper-faq {
      .inner-faq {
        .faq-list {
          .faq-list_question {
            background-size: 91%;
          }
        }
      }
    }
  }
  .customer-reviews-faq {
    .feedback {
      .feedback-btn {
        margin: auto;
      }
    }
  }
}
