.faq-page {
  display: flex;
  flex-direction: column;
  gap: 150px;
  height: 100vh;
  padding: 10px 100px;
  background-image: url(../img/fqaPage/fqaBg.svg);
  // background-color: rgb(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .wrapper-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 60px;
      }
      .logo_text {
        @include fontDesigner(rgb(53, 53, 53), 'Oswald', 20px, 400, 21px, 0);
        text-transform: uppercase;
        font-family: 'Oswald';
        cursor: pointer;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      gap: 60px;
      padding: 0;
      margin: 0;

      justify-content: space-between;

      .menu_item {
        @include fontDesigner(rgb(53, 53, 53), 'Arial', 20px, 600, 36px, 0);
        list-style-type: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        .menu_link {
          text-decoration: none;
          @include fontDesigner(rgb(53, 53, 53), 'Arial', 20px, 600, 36px, 0);
          &:visited {
            color: rgb(53, 53, 53);
          }
          &:hover {
            color: rgb(41, 69, 100);
          }
        }
      }
    }
  }
  .wrapper-slogan {
    display: flex;
    flex-direction: column;
    gap: 80px;
    .slogan {
      @include fontDesigner(rgb(41, 69, 100), 'Oswald', 80px, 400, 85px, 0);
      margin: 0;
    }
    .slogan_btn {
      @include btn(
        310px,
        60px,
        10px,
        rgb(41, 69, 100),
        rgb(255, 255, 255),
        24px
      );
    }
  }
}
.faq {
  .wrapper-faq {
    padding: 100px 100px 0 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    .inner-faq {
      .faq-list {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 20px;
        .faq-list_question {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border-radius: 20px;
          background: rgb(134, 153, 195);
          background-image: url(../img/fqaPage/frame.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 90%;
          padding: 50px;
          width: 626px;
          height: 328px;

          @include fontDesigner(
            rgb(255, 255, 255),
            'Arial',
            24px,
            400,
            40px,
            0
          );
        }
        .faq-list_answer {
          padding: 50px;
          border-radius: 20px;
          background: rgb(41, 69, 100);
          width: 950px;
          text-indent: 30px;
          @include fontDesigner(
            rgb(255, 255, 255),
            'Arial',
            20px,
            400,
            25px,
            0
          );
          .faq-list_answer__accent {
            font-weight: 700;
            font-style: italic;
          }
        }
      }
    }
    .wrapper-link-email {
      padding: 69px;
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(../img/fqaPage/frame_black.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      align-self: flex-end;
      .link-email {
        text-decoration: none;

        @include fontDesigner(rgb(41, 69, 100), 'Arial', 20px, 400, 25px, 2px);
        .link-email_accent {
          font-weight: 700;
        }
      }
    }
  }
}
