@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/Oswald-Bold.woff2') format('woff2'),
    url('../font/Oswald/Oswald-Bold.woff') format('woff'),
    url('../font/Oswald/Oswald-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/Oswald-Light.woff2') format('woff2'),
    url('../font/Oswald/Oswald-Light.woff') format('woff'),
    url('../font/Oswald/Oswald-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/Oswald-ExtraLight.woff2') format('woff2'),
    url('../font/Oswald/Oswald-ExtraLight.woff') format('woff'),
    url('../font/Oswald/Oswald-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/Oswald-Regular.woff2') format('woff2'),
    url('../font/Oswald/Oswald-Regular.woff') format('woff'),
    url('../font/Oswald/Oswald-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/Oswald-SemiBold.woff2') format('woff2'),
    url('../font/Oswald/Oswald-SemiBold.woff') format('woff'),
    url('../font/Oswald/Oswald-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/Oswald-Regular.woff2') format('woff2'),
    url('../font/Oswald/Oswald-Regular.woff') format('woff'),
    url('../font/Oswald/Oswald-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../font/Oswald/Oswald-Medium.woff2') format('woff2'),
    url('../font/Oswald/Oswald-Medium.woff') format('woff'),
    url('../font/Oswald/Oswald-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poiret One';
  src: url('../font/Poiret_One/PoiretOne-Regular.woff2') format('woff2'),
    url('../font/Poiret_One/PoiretOne-Regular.woff') format('woff'),
    url('../font/Poiret_One/PoiretOne-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
